body{
  padding-top: 70px;
}

.word_break{
  word-wrap: break-word!important;
}

.project, .issue .body{ 
  display: none;
}

.card, .cardw, .ddt,{
  border: 1px solid #ccc;
  padding: 4px;
}

.project h1{
  font-size: 30px;
  padding-bottom: 0px;
  border-bottom: 1px solid #ccc;
}

.issue{
  border: 1px solid #ccc;
  padding:10px;
  margin:5px 0;
  border-radius: 10px;
}

.issue h2{
  font-size:16px;
  line-height:1.3;
  min-height: 40px;
}

.project{
  clear:both;
  margin-bottom:150px;
}

.input-append{
  float: right;
}

.innerlink{
  margin: 20px 0 10px 30px;
}

.innerlink span{
  display: none;
}

.innerlink span a{
  color: #ccc;
}

.add_buttons ul li{
  margin-bottom:10px;
}
